<h1>About Us</h1>
<p>
	Connect. Communicate. Care.
</p>
<p>
	MindTribe is a web based system designed to shift the entrenched healthcare model from the 'point of care' transactional model we have now to a community based care model (longitudinal) focused on the patient getting and remaining well, and nothing else.  The diverse and relevent community that makes up your care team, we call a 'tribe'.  The heart of this system is designed to facilitate what is at the core of your care, communication. 
</p>
<p>
	We are not a point of care EMR or another practice management system for the office.  We would be better described as a 'Patient Management System'.  We pride ourselves on not only what this system can do, but also on what we choose NOT to build into it.  We are not interested in producing metrics that drive the latest government incentive payments nor are we interested in connecting to any regional meta databases designed to aggregate patients personal data.  We do not subscribe to the notion that every part of your care can be stewed down to discrete data on a form.  We are interested in the consumer, the patient, and the open cooridination, communication, and information that leads to wellness.
</p>
<p>
	We aspire to be an organicaly driven revolution in healthcare that finally puts the patient at the center of care.  
</p>